<p id="notice"><%= notice %></p>

<h1>Vaccine Order List from Hospitals</h1>


<table class="table table-striped table-bordered table-hower">
  <thead class="thead-dark">
    <tr>
      <th>Hospital ID</th>
      <th>Hospital Name</th>
      <th>Address</th>
      <th>Phone no</th>
      <th>Pin code</th>
      <th>Free Vaccines Available</th>
      <th>Paid Vaccines Available</th>
    
    </tr>
  </thead>

  <tbody>
    <% @hosptals.each do |hosptal| %>
      <tr>
        <% if ( hosptal.free_vac==0 && hosptal.paid_vac==0 ) %>
        <td><%= hosptal.hospital_id %></td>
        <td><%= hosptal.hospital_name %></td>
        <td><%= hosptal.address %></td>
        <td><%= hosptal.phone_no %></td>
        <td><%= hosptal.pin_code %></td>
        <td><%= hosptal.free_vac %> &nbsp &nbsp <a href="/fullfilorderfree/<%= hosptal.id %>" class="btn btn-warning" role="button" % >Grant</a></td>
        <td><%= hosptal.paid_vac %> &nbsp &nbsp <a href="/fullfilorderpaid/<%= hosptal.id %>" class="btn btn-warning" role="button" % >Grant</a></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>