<div class="container">

<h1>Portal Admin Login</h2>

<%= form_with(scope: :session1, url: adminlogin_path) do |f| %>
 
<div class="form-group">
  <%= f.label :username %><br/>
  <%= f.text_field :username, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.label :password %><br/>
  <%= f.password_field :password, class: "form-control" %>
</div>
 
<div class="form-group">
  <%= f.submit "Log in", class: "btn btn-primary" %>
</div>
 
<% end %>

</div>